.signup-container {
    display: flex;
    font-family: poppins-bold, serif;
}

.black-background {
    flex: 1;
    background-color: black;
    height: 100vh; /* Adjust as needed */
}

.logo {
    -webkit-animation: glow 1s alternate infinite;
    animation: glow 2.8s alternate infinite;
}

@keyframes glow {
    0% {
        -webkit-filter: brightness(50);
        filter: brightness(50);
    }
    50% {
        -webkit-filter: brightness(1);
        filter: brightness(1);
    }
}